<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заметки Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <div class="form-wrapper">
        <h2>Создать новую заметку</h2>
        <div class="note-form">
            <input type="text" v-model="newTitle" placeholder="Введите заголовок" class="input-title">
            
            <div class="todo-list-creator">
                <div v-for="(todo, index) in newTodos" :key="index" class="todo-input-group">
                    <input type="text" v-model="todo.text" placeholder="Пункт задачи">
                    <button @click="removeTodoInput(index)" v-if="newTodos.length > 3" class="btn-remove">x</button>
                </div>
            </div>

            <div class="form-controls">
                <button @click="addTodoInput" v-if="newTodos.length < 5" class="btn-small">+ Добавить пункт</button>
                <button 
                    @click="addNote" 
                    class="btn-create"
                    :disabled="!isFormValid || col1.length >= 3 || isBlocked"
                >
                    <span v-if="isBlocked">Блокировано (задачи во 2 столбце)</span>
                    <span v-else-if="col1.length >= 3">1 столбец переполнен</span>
                    <span v-else>Создать карточку</span>
                </button>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="col" :class="{ 'blocked': isBlocked }">
            <div class="col-header" style="background-color: #ff6b6b;">
                <h3>Новые ({{ col1.length }}/3)</h3>
            </div>
            <div class="col-body">
                <div v-if="isBlocked" class="blocked-overlay">Блокировано</div>
                
                <div class="card" v-for="note in col1" :key="note.id">
                    <h4>{{ note.title }}</h4>
                    <ul>
                        <li v-for="(item, idx) in note.items" :key="idx">
                            <input 
                                type="checkbox" 
                                v-model="item.checked" 
                                @change="checkStatus(note, 1)"
                                :disabled="isBlocked"
                            >
                            <span>{{ item.text }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-header" style="background-color: #4ecdc4;">
                <h3>В процессе ({{ col2.length }}/5)</h3>
            </div>
            <div class="col-body">
                <div class="card" v-for="note in col2" :key="note.id">
                    <h4>{{ note.title }}</h4>
                    <ul>
                        <li v-for="(item, idx) in note.items" :key="idx">
                            <input 
                                type="checkbox" 
                                v-model="item.checked" 
                                @change="checkStatus(note, 2)"
                            >
                            <span>{{ item.text }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-header" style="background-color: #1a535c; color: white;">
                <h3>Завершенные</h3>
            </div>
            <div class="col-body">
                <div class="card completed-card" v-for="note in col3" :key="note.id">
                    <h4>{{ note.title }}</h4>
                    <ul>
                        <li v-for="(item, idx) in note.items" :key="idx">
                            <input type="checkbox" checked disabled>
                            <span>{{ item.text }}</span>
                        </li>
                    </ul>
                    <div class="timestamp">
                        Завершено: <br> {{ note.completedAt }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="js/main.js"></script>
</body>
</html>